body {
    background-color: #1e1e2f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    color: #00ffff;
}

p {
    font-size: 18px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}